{% extends "main.html" %}
{% block content %}
    <p class="pull-right visible-xs">
        <button type="button" class="btn btn-orange btn-xs" data-toggle="offcanvas">لینکها</button>
    </p>
    <div class="pull-left visible-xs">
        <a class=" btn btn-orange"  id="modal_key" data-toggle="modal" data-target="#follow">پیگیری تعمیرات</a>
    </div>
    <div class="jumbotron">
        <h1>صنایع الکترونیک و ارتباطات</h1>
        <p class="orange">گروه فنی و مهندسی صنایع الکترونیک و ارتباطات آمادگی خود در زمینه ی ذیل به مدیرانی که در جهت بهینه سازی شرکت خود اقدام نموده اند، اعلام می دارد...</p>
        <a class= "btn btn-orange pull-left"  href="/download/?dl=ielecom.pdf">دریافت فایل رزومه</a>
    </div>
    <div class="about">
        <h3>شرح حال :</h3>
        <p>گروه فنی و مهندسی صنایع الکترونیک و ارتباطات با سابقه طولانی و به عنوان ناظرکیفی و فنی در صنعت برق، الکترونیک، مخابرات و کامپیوتر در حوزه های مختلف اعم از شهرداریها، سازمان های دولتی و خصوصی، سپاه ، دانشگاه ها، آموزش و پرورش، درمانگاه ها، الکتریکی ها، رستوران ها و تالارها حتی منازل شروع به فعالیت نموده است. </p>
        <h3>مشتری مداری :</h3>
        <p>گروه فنی ومهندسی صنایع الکترونیک  وارتباطات  مشتری مداری را به عنوان استراتژی محوری خود انتخاب کرده و مشتری را راس  هرم سازمانی و شریک استراتژیک خود می شناسد که این امر موجب آرامش خاطر واطمینان خواهد بود.</p>
        <h3>توسعه :</h3>
        <p>گروه فنی و مهندسی صنایع الکترونیک و ارتباطات با برنامه ریزی منسجم در جهت توسعه همه جانبه ، به سرعت گام برمی دارد که در این راستا میتوان به نوع محصولات ،استفاده از تکنولوژی جدید، توسعه کمی و کیفی نیروی انسانی و... اشاره نمود.</p>
        <h3>فروش :</h3>
        <p>لازمه اجرای موفقیت آمیز پروژه های مهندسی و فروش  اطلاع و نیازسنجی مشتری می باشد این واحد ضمن برخورداری از نیروهای متخصص و مجرب در حوزه های برق، الکترونیک، مخابرات و کامپیوتر آمادگی همفکری و ارائه راهکارهای نصب و راه اندازی و سخت افزاری و نرم افزاری قبل از فروش را برای مشتریان مهیا می سازد. دستگاه محافظ برق مخصوص یخچال و فریزر٬ محافظ برق ساختمان٬ استابیلایزر٬ انواع یوپی اس و باتری های سیلد اسید خشک از جمله محصولات فعلی ما می‌باشد.</p>
        <h3>محصولات :</h3>
        <p>فروش و خدمات پس از فروش یوپی اس (فاراتل ، توانیرو و فاران ) ، استابیلایزر و ترانس های فاراتل</p>
        <p>دستگاه های ارتباطی (تلفن سانترال پاناسونیک و کارین)</p>
        <p>ساعت های حضور و غیاب</p>
        <p>تلفن های گویا</p>
        <p>ژنراتور</p>
        <p>دوربین های مداربسته</p>
        <p>جی پی اس</p>
        <h3>خدمات :</h3>
        <p>راه اندازی شبکه ی کامپیوتری</p>
        <p>برنامه نویسی  پورتال برای شرکت ها</p>
        <p>طراحی صفحات وب</p>
        <p>مشاوره ، نیازسنجی به منظور تامین سیستم های برق بدون وقفه اداری و صنعتی (UPS)</p>
        <p>مشاوره، نیازسنجی به منظور تامین ولتاژ و جریان مورد نیاز کلیه صنایع و سازمان ها (استابیلایزر)</p>
        <p>مشاوره، نیازسنجی به منظور عقد قراردادهای نگهداری </p>
        <h3>پشتیبانی :</h3>
        <p>با توجه به تاکید همکاری با مشتریان، در لحظه لحظه به ثمر نشستن یک پروژه و پس ازآن، مشتریان را تنها نگذاشته و با پشتیبانی مستمر و اثربخش، خریدی خاطره انگیز و توام با اطمینان و آرامش را برای آنان به وجود خواهیم آورد.</p>
        <h3>سوابق :</h3>
        <p>این نمایندگی مفتخر است که در شهرک های صنعتی (سیمین دشت، صفادشت، اشتهارد) وشهرهای ( پرند، رباط کریم، اسلامشهر، شهریار، اندیشه ، ملارد، فردیس، کمال شهر، بهارستان، نظرآباد، شهرقدس ، تهران بزرگ) همکاری داشته است . ازجمله :</p>
        <p>- شهرداری ها و فرمانداری (شهریار- فردوسیه، رباط کریم، صفادشت، کهنز، ملارد، اندیشه، وائین، امیریه و...)</p>
        <p>- موسسه انرژی اتمی</p>
        <p>- سازمان فناوری اطلاعات شهریار</p>
        <p>- شرکت ها (تعاونی شباهنگ، پسماند، بتن سازی ایرانیان، سازنده کرکره برقی  ، طلا فروشی و ...)</p>
        <p>- دانشگاه ها و مراکز آموزشی (دانشکده کشاورزی کرج، آزاد پرند، پیام نورکرج، نظرآباد، صفادشت،  علمی کاربردی کرج و...)</p>
        <p>- اداره و مراکز دولتی (هواشناسی کرج، آموزش و پرورش، فروشگاه های زنجیره ای رفاه، مجتمع شهید جولایی، تربیت معلم فردوسی و .....)</p>
        <p>- درمانگاه ها و آ زمایشگاه ها ( شبکه بهداشت شهریار، پارس، تصویربرداری جام جم، درمانگاه خورشید، وحدت، بهار، به آفرین فردیس، بهزیستی اسلامشهر و...)</p>
        <p>- مسکن و شهرسازی (عمران اندیشه، هشتگرد، سرمایه گذاری به شهر، نوین رضی آباد، متوساک، صنیع خانی و...)</p>
        <p>- دفاتر اسناد رسمی (شهریار اسناد شماره 2،11،3- جاده ملارد اسناد شماره 6،10،14، 82 و...)</p>
        <p>- شهرک صنعتی بهارستان (قارچ ملارد، قارچ پارس، لبنیات پاک، ایرتاکو، دامداران، گندم طلایی، کاوشگر کامینه، سن ایچ، فروزان همت، کوثرصنعت،  رامک و....)</p>
        <p>-  مساجد، بسیج، سپاه و...</p>
        <p>- بیمه ها (ایران، البرز، آسیا و غیره...)</p>

    </div>
{% endblock %}