<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="shortcut icon" href="{% static "img/logo.png" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% trans 'name' %}{{ title }}</title>
    <link href="{% static "css/resid.css" %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  </head>
  <body>
  <div class="tools">
      <button type="button" class="btn btn-lg btn-info pull-right" onclick="printDiv('print')">
        چاپ کن
      </button>
      <a href="/admin/maintenance" class="btn btn-lg btn-success">بازگشت</a>
    </div>
    <div id="print">

    <div class="content">
      <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
          <h3 class="pull-left">رسید تعمیرات</h3>
        <h3>تاریخ :  {{date}}</h3>

      </div>

      <!-- Table -->
      <table class="table">
          <tr class="head">
            <th class="num">#</th>
            <th>کد پیگیری</th>
            <th>نام مالک</th>
            <th>تلفن تماس</th>
            <th>مدل دستگاه</th>
            <th>خلاصه مشکل دستگاه</th>
          </tr>
          <tr>
            <th>{{num_0}}</th>
            <th>{{follow_0}}</th>
            <th>{{name_0}}</th>
            <th>{{ phone_0}}</th>
            <th>{{model_0}}</th>
            <th>{{ detail_0}}</th>
          </tr>
          <tr>
            <th>{{num_1}}</th>
            <th>{{follow_1}}</th>
            <th>{{name_1}}</th>
            <th>{{ phone_1 }}</th>
            <th>{{model_1}}</th>
            <th>{{ detail_1 }}</th>
          </tr>
          <tr>
            <th>{{num_2}}</th>
            <th>{{follow_2}}</th>
            <th>{{name_2}}</th>
            <th>{{ phone_2}}</th>
            <th>{{model_2}}</th>
            <th>{{ detail_2}}</th>
          </tr>
           <tr>
            <th>{{num_3}}</th>
            <th>{{follow_3}}</th>
            <th>{{name_3}}</th>
            <th>{{ phone_3}}</th>
            <th>{{model_3}}</th>
            <th>{{ detail_3}}</th>
          </tr>
      </table>
      <div class="detail">
        <h4>توضیحات:</h4>
        <p>در حفظ و نگهداری این رسید کوشا باشید.</p>
        <p>شما میتوانید با کد پیگیری خود در سایت شرکت از وضعیت دستگاه خود مطلع شوید یا با تماس تلفنی و ارائه کد پیکیری اطلاعات لازم را کسب کنید.</p>
        <p>این رسید ۲ ماه اعتبار دارد و بعد از اتمام اعتبار این رسید شرکت هیچگونه تعهدی نسبت به دستگاه تعمیری ندارد.</p>
         <h3>www.ielecom.org</h3>
        <br>
        <br>
        <h4 class="pull-left">مهر و امضا</h4>
        <h4>امضای مشتری</h4>
      </div>

      </div>
      </div>
        </div>

  </body>
<script src={% static "js/jquery-1.9.1.min.js" %}></script>
<script src={% static "js/bootstrap.min.js" %}></script>
<script>
 function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>

</html>
