<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
              <p class="orange">سایت های تولید کنندگان کالاهای الکتریکی</p>
              <div class="list-group">
                <a href="http://www.faratel.com" target="_blank" class="list-group-item">فاراتل</a>
                <a href="http://tavaniru.com" target="_blank" class="list-group-item">توانیرو</a>
                <a href="http://fa.farancorp.net" target="_blank" class="list-group-item">فاران</a>
              </div>
</div><!--/span-->



