.content{
   direction: rtl;
   margin: 15% 0 0 0;
}
.num{
   width: 5px;
}
.head {
   Background: #969191;
   font-size: medium;
   border-bottom: black;
}
.tools {
   margin: 1% 5% 4% 5%;
}
.detail {
    margin: 0 1% 0 1%;
    font-size: 1.4em;
}