.content{
   direction: rtl;
   margin: 10% 5% 0 5%;
}
.num{
   width: 5px;
}
.head {
   Background: #969191;
   font-size: medium;
   border-bottom: black;
}
.tools {
   margin: 1% 5% 2% 5%;
}
.head_logo {
    margin-bottom: 1%;
    text-align: center;
}
.r-footer {
    margin-top: 8%;
    font-size: 1.4em;
}
.r-footer h3{
    font-size: 1.7em;
    text-align: center;
}